@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-light text-dark flex justify-center min-h-screen;
}

#root {
  @apply w-full min-h-screen;
}

.App {
  @apply w-full min-h-screen;
}

header {
  @apply fixed top-0 z-10 bg-dark flex justify-center items-center w-screen;
}

.header-inner {
  @apply max-w-3xl text-light flex items-center justify-between px-4 py-3 w-full text-2xl font-bold tracking-wide;
}

.header-left {
  @apply flex items-center;
}
.header-settings {
  @apply text-sm;
}

.set-goal-popup {
  @apply absolute top-0 left-0 right-0  w-full h-full flex justify-center items-center bg-black bg-opacity-50;
}

.set-goal-inner {
  @apply bg-light w-3/4 py-12 px-8  rounded-lg shadow-lg;
}

.set-goal-title {
  @apply text-2xl font-bold text-center mb-8;
}

.set-goal-popup form {
  @apply flex flex-col;
}

.set-goal-popup form label {
  @apply text-dark font-bold text-xs p-1;
}

.set-goal-popup form input {
  @apply shadow rounded-lg px-4 py-2 mb-4;
}

.set-goal-popup button {
  @apply bg-dark text-light p-2 rounded-lg shadow-lg mt-4;
}

.add-step-form {
  @apply fixed bottom-8 lg:bottom-20 inset-x-8 flex items-center bg-white rounded-full shadow focus:shadow-lg z-20 max-w-2xl mx-auto;
}

.add-step-form input[type="number"] {
  @apply bg-white text-dark rounded-l-full px-5 py-3 w-full text-lg focus:outline-none;
}

.add-step-form button[type="submit"] {
  @apply bg-dark text-light rounded-full px-5 py-4 font-bold text-lg;
}

.add-step-form button[type="submit"] svg {
  @apply fill-current;
  height: 1.4em;
}

main {
  @apply relative min-h-screen flex flex-col items-center w-full pt-20 lg:pt-32 pb-24;
}

.gs-list {
  @apply w-full flex flex-col items-center mt-8;
}

.gs-row {
  @apply flex items-end justify-between bg-light rounded-xl w-full px-4 py-2 mb-4;
}

.gs-details {
  @apply tracking-normal;
}

.gs-date {
  @apply text-gray-300 text-xs;
}

.gs-name {
  @apply text-gray-400 text-xs ml-2;
}

.gs-value {
  @apply font-bold text-2xl mr-1;
}

.gs-actions {
  @apply flex gap-2;
}

.gs-done,
.gs-paid,
.gs-edit,
.gs-delete {
  @apply text-xs flex flex-col justify-center items-center text-center relative w-8;
  font-size: 10px;
}

.gs-done svg,
.gs-paid svg,
.gs-edit svg,
.gs-delete svg {
  @apply h-5 w-5 mb-px fill-primary hover:fill-secondary transition-all;
}

.gs-check {
  @apply absolute -top-1 -right-1 bg-green-600 text-white rounded-full p-1 flex items-center justify-center;
}

.gs-check svg {
  @apply h-2 w-2 fill-current mb-0;
}

.gs-actions input {
  @apply hidden;
}

.gs-actions label {
  @apply flex flex-col items-center justify-center;
}

/* @keyframes openYourHeart {
  from {
    r: 0;
  }
  to {
    r: 60px;
  }
}

#myClip circle {
  animation: openYourHeart 15s infinite;
} */
.goal-overview-wrap {
  @apply relative;
}

.goal-overview-piggy-bank {
  @apply w-24 absolute right-10 top-4;
  clip-path: url(#myClip);
  height: calc(6 * 512 / 576 * 1rem);
}
.goal-overview-title {
  @apply text-sm font-bold;
}

.goal-overview-details {
  @apply flex flex-col justify-center z-10 bg-white bg-opacity-40 rounded-3xl py-4 px-8 shadow;
}

.goal-overview-percentage {
  @apply text-4xl font-bold text-gray-800;
}

.goal-overview-absolute {
  @apply text-gray-600 text-xs;
}
